body {
    margin: 0;
    background: rgb(255, 228, 232);
}

#app {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 30px;
}

.note {
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(219, 204, 219);
    resize: none;
    font-size: 16px;
}

.add_note {
    height: 200px;
    border: none;
    outline: none;
    background: hsl(352, 55%, 87%);
    border-radius: 10px;
    font-size: 120px;
    color:rgb(224, 163, 172);
    cursor: pointer;
    transition: background 0.2s;
}

.add_note:hover {
    background: hsl(357, 61%, 86%);
}